<!DOCTYPE HTML>
<html>
<head>
    <title>VROOOM! - A Solution for Your Transportation</title>
    <link rel="stylesheet" href="css/styles.css">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/token.js"></script>
    <script>
        var tokenUser = getCookie("username");
        var tokenDriver = getCookie("usrnmdrv");
        $.ajax({
            type:'GET',
            url:'http://localhost:3000/driver/' + tokenUser + '/' + tokenDriver,
            success: function(result){
                var data = result;
            console.log('data: ' + data);
            }
        })        
    </script>
    <script>
        //var worker = new Worker('js/firebase-messaging-sw.js');
        initFirebase();
        var token = generateToken();
    </script>
    <!-- <script src="js/firebase-messaging-sw.js"></script> -->
</head>
<body>

<div class="chat" ng-app="chatApp" ng-controller="chatCtrl">
    <md-content>
        <div scroll-bottom="messages" class="chat-display">
            <div class="scroll">
                <div class={{chat.type}} ng-repeat="chat in messages">
                    <p>{{chat.message}}</p>
                </div>
            </div>
        </div>
        <form class="chat-content" ng-submit="send()">
            <textarea ng-model="chatInput"></textarea>
            <button class="chat-send" type="submit">Kirim</button>
        </form>
    </md-content>
    <form ng-submit="close()" id="close-button">
        <input class="chat-close" type="submit" value="CLOSE">
    </form>
</div>
<!-- <button class="chat-close">CLOSE</button> -->

<script src="js/angular-chat.js"></script>
<script>
    // function endChat(){
    //     var usrnmdrv = getCookie("usrnmdrv");
    //     $.post('http://localhost:3000/' + usrnmdrv ,{"id":"0" , "message":"chat-finished" , type:'message-sent'},
    //       function(data, status) {
    //         console.log('data: ' + data);
    //       });
    // }
</script>
</body>
</html>