<!DOCTYPE HTML>
<html>
<head>
    <title>VROOOM! - A Solution for Your Transportation</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/token.js"></script>
    

    <script>
        //var worker = new Worker('js/firebase-messaging-sw.js');
        initFirebase();
        var token = generateToken();
    </script>
    <!-- <script src="js/firebase-messaging-sw.js"></script> -->
</head>
<body>

<div ng-app="chatApp" ng-controller="chatCtrl">
    <!-- <div style="display:flex; justify-content:center;"> -->
        <h2 style="color:#21CB1E; text-align: center;">Got an Order!</h2>
        <h3 style="margin:auto; text-align: center;">{{username}}</h3>
    <!-- </div> -->
    <div class="chat">
       <div scroll-bottom="messages" class="chat-display">
            <div class="scroll">
                <div class={{chat.type}} ng-repeat="chat in messages">
                    <p>{{chat.content}}</p>
                </div>
            </div>
        </div>
        <form class="chat-content" ng-submit="send()">
            <textarea ng-model="chatInput"></textarea>
            <button class="chat-send" type="submit">Kirim</button>
        </form>
    </div>
</div>
<button class="chat-close">CLOSE</button>

<script src="js/angular-chat.js"></script>
</body>
</html>